.home-share {
	margin-bottom:30px;
	padding-top:0px;
	}
	
.home-social-links {
	margin-top:20px;
	}
	
.torque-parent-div {
	margin:20px 0 0 0;
    font-family: "sofia-pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size:12px;
    line-height:16px;
    color:#8d8d8d;
	}
	
.torque-parent-div a {
	text-decoration: none;
    color:#8d8d8d;
	}