@media not all and (min-resolution:.001dpcm) { @media {
    .work-cycle {
    bottom: 40px;
    left: 40px;
    right: 40px;
    width: auto;
    background-color: rgba(26, 26, 26, 0);
    }
    .work .grid {
    padding-bottom: 100px;
    }
    .work-cycle a {
    border-radius: 180px;
    background-color: rgba(26, 26, 26, 0.93);
    }
    .work-cycle span.prev,
    .work-cycle span.next,
    .work-cycle .title {
    display: none;
    }
     } }
