<div class="footer">
      <div class="footer-links-left">
          <ul>
            <li><a href="https://www.behance.net/benludwig" target="_blank" class="link-footer">Behance</a></li>
            <li><a href="https://github.com/benludwig" target="_blank" class="link-footer">Github</a></li>
            <li><a href="https://dribbble.com/benludwig" target="_blank" class="link-footer">Dribbble</a></li>
            <li><a href="https://www.linkedin.com/in/benjaminludwig" target="_blank" class="link-footer">LinkedIn</a></li>
          </ul>
      </div>
      <div class="footer-links-right">
          <ul>
            <li><a href="https://twitter.com/bnldwg" target="_blank" class="link-footer">Twitter</a></li>
            <li><a href="https://www.instagram.com/bnldwg/" target="_blank" class="link-footer">Instagram</a></li>
            <li><a href="mailto:ben@benludwig.com" target="_blank" class="link-footer">Email</a></li>
          </ul>
      </div>
</div>
