{% capture work %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[work]  %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '/work/30-rock/'; }
if (e.keyCode == '39') { window.location = '{{prevurl}}'; }
};
</script>
<div class="cycle-prev">
<a href="/work/30-rock/" class="link-cycle"><img src="/assets/images/arrowleft.svg"><span class="prev">Prev</span></a>
</div>
<div class="cycle-title">
{{ page.title }}
</div>
<div class="cycle-next">
{% if prevurl %}<a href="{{prevurl}}" class="link-cycle"><span class="next">Next</span><img src="/assets/images/arrowright.svg"></a>{% endif %}
</div>
