{% capture work %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[work]  %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{nexturl}}'; }
if (e.keyCode == '39') { window.location = '{{prevurl}}'; }
};
</script>
{% if nexturl %}<a href="{{nexturl}}" class="primary-nav-link"><img src="/assets/images/arrowleft.svg"><span class="prev">Prev</span></a>{% endif %}
<a href="/work/priester-aviation" class="primary-nav-link"><span class="next">Next</span><img src="/assets/images/arrowright.svg"></a><br />
