{% capture work %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[work]  %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{nexturl}}'; }
if (e.keyCode == '39') { window.location = '/work/smnga-architects'; }
};
</script>
<div class="cycle-prev">
{% if nexturl %}<a href="{{nexturl}}" class="link-cycle"><img src="/assets/images/arrowleft.svg"><span class="prev">Prev</span></a>{% endif %}
</div>
<div class="cycle-title">
{{ page.title }}
</div>
<div class="cycle-next">
<a href="/work/smnga-architects" class="link-cycle"><span class="next">Next</span><img src="/assets/images/arrowright.svg"></a>
</div>
