<div class="preview-container">
<div class="preview-category">
  <div class="preview-section-title">Design work</div>
  <div class="preview-grid">
  <div class="preview">
    <div class="preview-img"><a href="/design-work/guiding-digital-transformation"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1578346045/c_preview_tzntlu.png"></a></div>
    <div class="preview-tag">Telecommunications</div>
    <div class="preview-title"><a href="/design-work/guiding-digital-transformation">Guiding a digital transformation</a></div>
    <div class="preview-buttons"><a class="btn" href="/design-work/guiding-digital-transformation">View work</a></div>
  </div>
  <div class="preview">
    <div class="preview-img"><a href="/design-work/investing-user-research"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1578346624/rig_preview_wymhrq.png"></a></div>
    <div class="preview-tag">Logistics</div>
    <div class="preview-title"><a href="/design-work/investing-user-research">Investing in user research</a></div>
    <div class="preview-buttons"><a class="btn" href="/design-work/investing-user-research">View work</a></div>
  </div>
  <div class="preview">
    <div class="preview-img"><a href="/design-work/the-field-museum"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1576866363/fm-tile_bu4cdb.png"></a></div>
    <div class="preview-tag">Not-for-profit</div>
    <div class="preview-title"><a href="/design-work/the-field-museum">In-house design at The Field Museum</a></div>
    <div class="preview-buttons"><a class="btn" href="/design-work/the-field-museum">View work</a></div>
  </div>
  <div class="preview">
    <div class="preview-video"><a href="/design-work/forecasting-ad-returns">
      <video autoplay loop muted playsinline poster="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1577988232/rise_preview_frame_luexvb.png">
        <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1577988240/rise_preview_uvkis2.mp4">
        <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1577988240/rise_preview_uvkis2.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </a></div>
    <div class="preview-tag">Analytics</div>
    <div class="preview-title"><a href="/design-work/forecasting-ad-returns">Forecasting digital advertising returns</a></div>
    <div class="preview-buttons"><a class="btn" href="/design-work/forecasting-ad-returns">View work</a></div>
  </div>
  <div class="preview">
    <div class="preview-img"><a href="/design-work/building-architecture-brand"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1578002399/SMNGA_preview3_pjkfvt.png"></a></div>
    <div class="preview-tag">Architecture</div>
    <div class="preview-title"><a href="/design-work/building-architecture-brand">Building an architecture brand</a></div>
    <div class="preview-buttons"><a class="btn" href="/design-work/building-architecture-brand">View work</a></div>
  </div>
  <div class="preview">
    <div class="preview-img"><a href="/design-work/collection"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1580337064/archive_frame_vcnunl.jpg"></a></div>
    <div class="preview-tag">Various industries</div>
    <div class="preview-title"><a href="/design-work/collection">A collection of additional work</a></div>
    <div class="preview-buttons"><a class="btn" href="/design-work/collection">View work</a></div>
  </div>
</div>
</div>
<div class="preview-category">
  <div class="preview-section-title">Side projects</div>
  <div class="preview-grid">
  {% assign blsp = site.side-projects | sort: 'order' %}
  {% for item in blsp %}
  <div class="preview">
    <div class="preview-img"><a href="{{ item.url }}"><img src="{{ item.img }}"></a></div>
    <div class="preview-title"><a href="{{ item.url }}">{{ item.title }}</a></div>
    <div class="preview-buttons"><a class="btn" href="{{ item.url }}">View project</a></div>
  </div>
  {% endfor %}
</div>
</div>
<div class="preview-category">
  <div class="preview-grid">
  <div class="preview">
    {% assign blart = site.articles | sort: 'order' %}
    {% for item in blart %}
    <div class="preview-section-title">Writing</div>
    <div class="preview-img"><a href="{{ item.url }}"><img src="{{ item.img }}"></a></div>
    <div class="preview-title"><a href="{{ item.url }}">{{ item.title }}</a></div>
    <div class="preview-buttons"><a class="btn" href="{{ item.url }}">Read article</a></div>
    {% endfor %}
  </div>
  <div class="preview">
    {% assign bljff = site.just-for-fun | sort: 'order' %}
    {% for item in bljff %}
    <div class="preview-section-title">Just for fun</div>
    <div class="preview-video"><a href="{{ item.url }}">
      <div class="preview-video">
        <video autoplay loop muted playsinline poster="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1576683423/jack_frame_v3u0dm.png">
          <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1576683275/jackgif_lzhgor.mp4">
          <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1576683275/jackgif_lzhgor.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div></a>
    </div>
    <div class="preview-title"><a href="{{ item.url }}">{{ item.title }}</a></div>
    <div class="preview-buttons"><a class="btn" href="{{ item.url }}">View project</a></div>
    {% endfor %}
  </div>
</div>
</div>
</div>
