<div class="preview-container revealblock">
<div class="preview-category">
  <div class="preview-grid three">
  {% assign blsp = site.side-projects | sort: 'order' %}
  {% for item in blsp %}
  <div class="preview">
    <div class="preview-img"><a href="{{ item.url }}">
      <picture>
        <source media="(max-width: 679px)" srcset="{{ item.imgsmall }}">
        <img src="{{ item.img }}" alt="Alt text">
      </picture>
    </a></div>
    <!-- <div class="preview-title"><a href="{{ item.url }}">Side project</a></div> -->
    <div class="preview-tag"><a href="{{ item.url }}">{{ item.title }}</a></div>
  </div>
  {% endfor %}
</div>
</div>
</div>
