<div class="preview-container revealblock">
<div class="preview-category">
  <div class="preview-grid one">
    <div class="preview">
      <div class="preview-img">
        <a href="/design-work/guiding-digital-transformation">
          <picture>
            <source media="(max-width: 760px)" srcset="https://res.cloudinary.com/benludwig/image/upload/c_fill,g_south,h_1800,w_1500/v1583867865/Friends_Connecting_mqnumz.jpg">
            <img src="https://res.cloudinary.com/benludwig/image/upload/c_fill,f_auto,g_faces:auto,h_900,q_auto:best,w_2000/v1583867865/Friends_Connecting_mqnumz.jpg">
          </picture>
        </a></div>
      <div class="preview-tag"><a href="/design-work/guiding-digital-transformation">Telecommunications</a></div>
      <div class="preview-title"><a href="/design-work/guiding-digital-transformation">Guiding a digital transformation</a></div>
    </div>
  </div>
  <div class="preview-grid two">
  <div class="preview">
    <div class="preview-img"><a href="/design-work/investing-user-research"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1578346624/rig_preview_wymhrq.png"></a></div>
    <div class="preview-tag"><a href="/design-work/investing-user-research">Logistics</a></div>
    <div class="preview-title"><a href="/design-work/investing-user-research">Investing in user research</a></div>
  </div>
  <div class="preview">
    <div class="preview-img"><a href="/design-work/the-field-museum"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1576866363/fm-tile_bu4cdb.png"></a></div>
    <div class="preview-tag"><a href="/design-work/the-field-museum">Not-for-profit</a></div>
    <div class="preview-title"><a href="/design-work/the-field-museum">In-house design at The Field Museum</a></div>
  </div>
  <div class="preview">
    <div class="preview-video"><a href="/design-work/forecasting-ad-returns">
      <video autoplay loop muted playsinline poster="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1577988232/rise_preview_frame_luexvb.png">
        <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1577988240/rise_preview_uvkis2.mp4">
        <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1577988240/rise_preview_uvkis2.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </a></div>
    <div class="preview-tag"><a href="/design-work/forecasting-ad-returns">Analytics</a></div>
    <div class="preview-title"><a href="/design-work/forecasting-ad-returns">Forecasting digital advertising returns</a></div>
  </div>
  <div class="preview">
    <div class="preview-img"><a href="/design-work/building-architecture-brand"><img src="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1578002399/SMNGA_preview3_pjkfvt.png"></a></div>
    <div class="preview-tag"><a href="/design-work/building-architecture-brand">Architecture</a></div>
    <div class="preview-title"><a href="/design-work/building-architecture-brand">Building an architecture brand</a></div>
  </div>
</div>
<div class="preview-grid one">
  <div class="preview">
    <div class="preview-img">
      <a href="/design-work/collection">
        <picture>
          <source media="(max-width: 760px)" srcset="https://res.cloudinary.com/benludwig/image/upload/c_fill,f_auto,g_center,h_500,q_auto:best,w_1000/v1583892654/vs_ynj43k.jpg">
          <img src="https://res.cloudinary.com/benludwig/image/upload/c_fill,f_auto,g_center,h_900,q_auto:best,w_2000/v1583892654/vs_ynj43k.jpg">
        </picture>
      </a></div>
      <div class="preview-tag"><a href="/design-work/collection">Design archive</a></div>
      <div class="preview-title"><a href="/design-work/collection">A collection of additional work</a></div>
  </div>
</div>
</div>
<div class="preview-category">
  <div class="preview-grid three">
  {% assign blsp = site.side-projects | sort: 'order' %}
  {% for item in blsp %}
  <div class="preview">
    <div class="preview-img"><a href="{{ item.url }}">
      <picture>
        <source media="(max-width: 679px)" srcset="{{ item.imgsmall }}">
        <img src="{{ item.img }}" alt="Alt text">
      </picture>
    </a></div>
    <div class="preview-tag"><a href="{{ item.url }}">{{ item.title }}</a></div>
  </div>
  {% endfor %}
</div>
</div>
<div class="preview-category">
  <div class="preview-grid two">
  <div class="preview">
    {% assign blart = site.articles | sort: 'order' %}
    {% for item in blart %}
    <div class="preview-img"><a href="{{ item.url }}"><img src="{{ item.img }}"></a></div>
    <div class="preview-tag"><a href="{{ item.url }}">Writing</a></div>
    <div class="preview-title"><a href="{{ item.url }}">{{ item.title }}</a></div>
    {% endfor %}
  </div>
  <div class="preview">
    {% assign bljff = site.just-for-fun | sort: 'order' %}
    {% for item in bljff %}
    <div class="preview-video"><a href="{{ item.url }}">
      <div class="preview-video">
        <video autoplay loop muted playsinline poster="https://res.cloudinary.com/benludwig/image/upload/f_auto,q_auto:best/v1576683423/jack_frame_v3u0dm.png">
          <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1576683275/jackgif_lzhgor.mp4">
          <source src="https://res.cloudinary.com/benludwig/video/upload/vc_auto/v1576683275/jackgif_lzhgor.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div></a>
    </div>
    <div class="preview-tag"><a href="{{ item.url }}">Just for fun</a></div>
    <div class="preview-title"><a href="{{ item.url }}">{{ item.title }}</a></div>
    {% endfor %}
  </div>
</div>
</div>
</div>
