@charset "utf-8";

@import
  "style"
;

.logo a {
  display: block;
  width: 15px;
  height: 28px;
  }

/*Image Settings-----------------------
-------------------------------------*/

.revealblock {
  visibility: hidden;
  }

.imgblock {
  position: relative;
  overflow: hidden;
  background-color: $color-darker;
  }

.imgblock .signal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  }

@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
    }
  50% {
    opacity: 1;
    }
  100% {
    transform: scale(1.2);
    opacity: 0;
    }
  }

.imgblock .imgfull {
  width: 100%;
  height: 100%;
  }

.imgfull.loaded img{
  opacity: 1;
  z-index: 3;
  }

.imgfull img {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  }

/*Primary Nav--------------------------
-------------------------------------*/

.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
  }

/*Homepage Mid-------------------------
-------------------------------------*/

.home-mid {
  padding: 100px 0 20px 0;
  }

.home-work {
  padding-bottom: 40px;
  }

.home-work.copy {
  padding-left: 30px;
  padding-right: 30px;
  }

.home-work-text {
  padding: 10px 0 10px 0;
  }

.home-work-text {
  padding-bottom: 15px;
  }

.home-work.first .home-work-img {
  padding: 0 30px 0 0;
  }

.home-work.second .home-work-img {
  padding: 0 30px 0 30px;
  }

.home-work.third .home-work-img {
  padding: 0 0 0 30px;
  }

.home-work.fourth .home-work-img {
  padding: 0 30px 0 30px;
  }

.home-work .home-work-img a {
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  }

.home-work a.link-supprt {
  padding-top: 5px;
  }

.home-work.first .home-work-img a {
  background-image: url('http://res.cloudinary.com/benludwig/image/upload/f_auto/v1497797118/priester-05-table_dqgrtb.jpg');
  padding-top: 66.66%;
  }

.home-work.second .home-work-img a {
  background-image: url('http://res.cloudinary.com/benludwig/image/upload/f_auto/v1497727852/smnga-03-federico_uljq1s.jpg');
  padding-top: 100%;
  }

.home-work.third .home-work-img a {
  background-image: url('http://res.cloudinary.com/benludwig/image/upload/f_auto/v1499734344/gs3_iopljd.jpg');
  padding-top: 56.25%;
  }

.home-work.fourth .home-work-img a {
  background-image: url('http://res.cloudinary.com/benludwig/image/upload/f_auto/v1499735419/expeditions-1_ysphai.jpg');
  padding-top: 75%;
  }

.home-work-link-group {
  padding: 0px 30px 20px 30px;
  }

@media (min-width:680px) {

.home-mid {
  padding: 100px 15px 20px 15px;
  }

.home-mid-top {
  @include flex;
  @include flex-align-center;
  }

.home-mid-top-left,
.home-mid-top-right,
.home-mid-bottom-left,
.home-mid-bottom-right {
  width: 50%;
  }

.home-work.second .home-work-img a {
  padding-top: 133%;
  }

.home-work.third .home-work-img a {
  padding-top: 43%;
  }

.home-mid-bottom {
  @include flex;
  @include flex-align-center;
  }

.home-work,
.home-work.copy,
.home-work.first .home-work-img,
.home-work.second .home-work-img,
.home-work.third .home-work-img,
.home-work.fourth .home-work-img,
.home-work-link-group {
  padding: 0px 0px 0px 0px;
  }

.home-mid-top-left,
.home-mid-top-right,
.home-mid-center,
.home-mid-bottom-left,
.home-mid-bottom-right {
  padding: 15px;
}

.home-work.copy {
  padding-bottom: 30px;
  }

}

@media (min-width:1100px) {

.home-mid {
  padding: 80px 40px 40px 40px;
  }

.home-mid-top-left,
.home-mid-top-right,
.home-mid-center,
.home-mid-bottom-left,
.home-mid-bottom-right {
  padding: 40px;
  }

.home-work.third .home-work-img a {
  padding-top: 43%;
  }

}

/*Masonry Grid-------------------------
-------------------------------------*/

* { box-sizing: border-box; }

html { overflow-y: scroll; }

.grid:after {
  content: '';
  display: block;
  clear: both;
  }

.grid-item {
  float: left;
  box-sizing: border-box;
  }

.grid-item img {
  display: block;
  max-width: 100%;
  }

/*All Work-----------------------------
-------------------------------------*/

.all-work {
  padding: 75px 5px 0px 5px;
  }

.all-work .grid-sizer,
.all-work .grid-item {
  width: 100%;
  }

.all-work .grid-item {
  padding: 0px 5px 30px 5px;
  }

.all-work .grid-item a.link-support {
  padding-top: 5px;
  }

@media (min-width:600px) {

.all-work {
  padding: 75px 15px 0px 15px;
  }

.all-work .grid-item {
  padding: 40px 15px;
  }

}

@media (min-width:800px) {

.all-work .grid-sizer,
.all-work .grid-item {
  width: 33.33%;
  }

.all-work .grid-item-double {
  width: 66%;
  }

}

/*Work Detail--------------------------
-------------------------------------*/

.work {
  padding: 85px 0 0 0;
  }

.work .grid {
  padding-bottom: 60px;
  }

.work .grid-sizer,
.work .grid-item {
  width: 100%;
  }

.work .grid-item {
  padding: 2px 4px;
  }

.work .copy-block {
  padding: 50px 30px 35px 30px;
  }

.work .copy-block audio {
  margin: 15px 0px 30px 0px;
  }

.work .list-block {
  padding: 35px 0px;
  border-top: 1px solid $color-light;
  }

.work .list-block  dt {
  @include font-detail;
  padding-bottom: 10px;
  }

@media (min-width:560px) {

.work .list-blocks {
  @include flex;
  @include flex-wrap;
  }

.work .list-block {
  width: 50%;
  }

}

@media (min-width:800px) {

.work .grid-sizer,
.work .grid-item {
  width: 50%;
  }

.work {
  padding: 85px 4px 4px 4px;
  }

.work .grid-item {
  padding: 4px 4px;
  }

.work .copy-block {
  padding: 50px 30px 35px 30px;
  }

.work .copy-block h1,
.work .copy-block p {
  max-width: 600px;
  }

}

@media (min-width:1120px) {

.work .copy-block {
  padding: 75px 50px 60px 50px;
  }

}

/*Work Cycle---------------------------
-------------------------------------*/

.work-cycle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(26, 26, 26, 0.93);
  @include flex;
  @include flex-justify-space-between;
  @include flex-align-center;
  }

.work-cycle span.prev {
  padding-left: 4px;
  }

.work-cycle span.next {
  padding-right: 4px;
  }

@media (max-width:468px) {

  .work-cycle .cycle-title {
  display: none;
  }

}

/*Info Styles--------------------------
-------------------------------------*/

.info {
  background-color: $color-white;
  color: $color-dark;
  padding: 125px 0px 30px 0px;
  }

.info a {
  color: $color-dark;
  }

.info a.link-inline {
  border-bottom: 1px solid $color-dark;
  }

.info-inside {
  width: 100%;
  @include flex;
  @include flex-wrap;
  max-width: 1300px;
  margin-left:auto;
  margin-right: auto;
  }

.info-copy {
  width: 100%;
  padding: 30px;
  }

.info-image {
  width: 100%;
  padding: 30px;
  }

.info-block {
  width: 100%;
  padding: 30px 30px;
  }

.info-block h2 {
  padding: 20px 0px;
  border-top: 1px solid $color-dark;
  }

.info-block li.block-support {
  @include font-standard-support;
  padding-bottom: 15px;
  }

@media (min-width:620px) {

.info-copy {
  width: 70%;
  }

.info-image {
  width: 70%;
  padding: 0px 30px 30px 30px;
  }

.info-block {
  width: 50%;
  }

}

@media (min-width:960px) {

.info-inside {
  padding: 0px 30px;
  }

.info-copy {
  width: 50%;
  padding: 60px 30px;
  }

.info-image {
  width: 50%;
  padding: 60px 30px 30px 30px;
  }

.info-block {
  width: 33.33%;
  padding: 60px 30px;
  }

}

/*Footer-------------------------------
-------------------------------------*/

.footer {
  padding:100px 30px;
  }

.footer-links-right {
  padding-left: 20px;
  }
