@charset "utf-8";

@import
  "style"
;

* { box-sizing: border-box; }


/*Image Settings-----------------------
-------------------------------------*/

.revealblock {
  visibility: hidden;
  }

.grid-item img{
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  }

.imgfull video {
  width: 100%;
  }


/*Work Page----------------------------
-------------------------------------*/

.work {
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
  }

/*Preview Series Layout----------------
-------------------------------------*/

@media screen and (min-width: 910px) {
  .preview-case-studies,
  .preview-design-archive,
  .preview-articles,
  .preview-side-projects,
  .preview-just-for-fun {
    @include flex;
    @include flex-wrap;
    }
  .preview-section-title {
    width: 100%;
    }
  .preview-case-studies .preview,
  .preview-articles .preview,
  .preview-just-for-fun .preview {
    width: 50%;
    }
  .preview-design-archive .preview {
    width: 33%;
    }
  .preview-side-projects .preview {
    width: 25%;
    }
  }
