@charset "utf-8";

@import
  "style"
;

* { box-sizing: border-box; }


/*Image Settings-----------------------
-------------------------------------*/

.revealblock {
  visibility: hidden;
  }

.grid-item img{
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  }

.imgfull video {
  width: 100%;
  }


/*Work Page----------------------------
-------------------------------------*/

.work {
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px;
  }

/*Preview Series Layout----------------
-------------------------------------*/

@media screen and (min-width: 910px) {

.preview-category {
  padding-bottom: 120px;
  }

.preview-grid {
  display: grid;
  grid-column-gap: 30px;
  }

// .preview {
//   width: 100%;
//   height: 100%;
//   }

.preview-grid.cs,
.preview-grid.art,
.preview-grid.jff {
  grid-template-columns: 1fr 1fr;
  }

.preview-grid.da {
  grid-template-columns: 1fr 1fr 1fr;
  }

.preview-grid.sp {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}
