.navigation {
  display: grid;
  grid-template-columns: repeat(12, 1fr [col-start]);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:1;
}

.navigation-back {
  grid-column: 1 / span 2;
}

.navigation-back a {
  width: 36px;
  height: 36px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 180px;
  background-color:#fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  text-decoration: none;
}
