.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width:1400px;
  margin:auto;
}

.navigation {
  margin:60px 0px;
  padding-top:20px;
  grid-column: 2 / span 2;
}

.site-title {
  margin:80px 0px;
  grid-column: 4 / span 6;
}

.cards {
  grid-column: 2 / span 10;
}

.footer {
  grid-column: 2 / span 10;
  margin: 80px 0px 80px 0px;
}

.text {
  grid-column: 2 / span 10;
}

.text.top {
  padding-bottom:80px;
}

@media screen and (min-width: 800px) {
  .text {
    grid-column: 4 / span 6;
  }
}

.image {
  grid-column: 2 / span 10;
  padding-bottom:60px;
}

.image img {
  border-radius:8px;
}

::selection {
  background-color: #FCF113;
  }

::-moz-selection {
  background-color: #FCF113;
  }
