/*Apply tokens to elements*/

/*Colors-----------------------------*/

body {
  background-color: $color-background;
  color: $color-type;
  }

/*H1-----------------------------------
-------------------------------------*/

h1 {

  }

@media screen and (min-width: 1040px) {

  h1 {

    }

}

/*H2-----------------------------------
-------------------------------------*/

h2 {

  }

h2.about {

  }

/*H3-----------------------------------
-------------------------------------*/

h3 {

  }

/*Paragraphs---------------------------
-------------------------------------*/

p {

  }

p.about-p {

  }

p.caption {

  }

/*Unordered list-----------------------
-------------------------------------*/

ul {
  list-style-position: outside;
  padding-left: 20px;
  }

ul.about-unordered-list {
  padding-left: 0px;
  padding-bottom: 60px;
  }

ul.type-unordered-list {
  padding-left: 0px;
  padding-bottom: 40px;
  }

ul.detail {
  padding-left: 0px;
  padding-bottom: 10px;
  }

/*List item----------------------------
-------------------------------------*/

li {
  @include type-19-regular;
  @include kerning;
  list-style-type: circle;
  }

li.detail {
  @include type-14-regular;
  @include kerning;
  list-style-type: none;
  }

li.detail-muted {
  @include type-14-regular;
  @include kerning;
  color: $color-type-muted;
  list-style-type: none;
  }

li.about-list {
  @include standard;
  list-style-type: none;
  padding-bottom: 3px;
  }

li.about-list-muted {
  @include standard;
  color: $color-type-muted;
  list-style-type: none;
  padding-bottom: 13px;
  }

li.type-list {
  @include type-18-regular;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 3px;
  }

li.type-list-muted {
  @include type-18-regular;
  list-style-type: none;
  padding-bottom: 3px;
  color: $color-type-muted;
  }
