
@import "abstracts/variables";
@import "nav";

/*
Resets-------------------------------
Reveal Effect------------------------
Typography-H1------------------------
Typography-H2------------------------
Typography-H3------------------------
Typography-p-------------------------
Typography-li------------------------
Links--------------------------------
Buttons------------------------------
Images-------------------------------
Nav----------------------------------
Home---------------------------------
Work---------------------------------
Locked-Panel-------------------------
Footer-------------------------------
*/

/*Resets-------------------------------
-------------------------------------*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    }


/*Colors-----------------------------*/

body {
  background-color: $color-background;
  color: $color-type;
  }



.big-title {
  width: 100%;
  height: 100vh;
  @include flex;
  @include flex-justify-center;
  @include flex-align-center;
  }

// .big-title.analytics {
//     background:
//       -webkit-linear-gradient(315deg, hsla(26.84, 62.3%, 52.16%, 1) 0%, hsla(26.84, 62.3%, 52.16%, 0) 70%),
//       -webkit-linear-gradient(65deg, hsla(212.31, 28.63%, 55.49%, 1) 10%, hsla(212.31, 28.63%, 55.49%, 0) 80%),
//       -webkit-linear-gradient(135deg, hsla(213.06, 38.89%, 50.59%, 1) 15%, hsla(213.06, 38.89%, 50.59%, 0) 80%),
//       -webkit-linear-gradient(205deg, hsla(212.73, 57.89%, 22.35%, 1) 100%, hsla(212.73, 57.89%, 22.35%, 0) 70%);
//     background:
//       linear-gradient(135deg, hsla(26.84, 62.3%, 52.16%, 1) 0%, hsla(26.84, 62.3%, 52.16%, 0) 70%),
//       linear-gradient(25deg, hsla(212.31, 28.63%, 55.49%, 1) 10%, hsla(212.31, 28.63%, 55.49%, 0) 80%),
//       linear-gradient(315deg, hsla(213.06, 38.89%, 50.59%, 1) 15%, hsla(213.06, 38.89%, 50.59%, 0) 80%),
//       linear-gradient(245deg, hsla(212.73, 57.89%, 22.35%, 1) 100%, hsla(212.73, 57.89%, 22.35%, 0) 70%);
//     }





/*Reveal Effect----------------------*/

.revealblock {
  visibility: hidden;
  }

/*Typography-H1------------------------
-------------------------------------*/

h1 {
  // @include type-42-regular;
  // color: $color-type;
  // padding-bottom: 30px;
  display:none;
  }

/*Typography-H2------------------------
-------------------------------------*/

h2 {
  @include type-28;
  color: $color-type;
  padding-bottom: 10px;
  }

h2.about {
  @include type-24-medium;
  padding-top: 60px;
  margin-bottom: 6px;
  color: #ffffff;
  }

/*Typography-H3------------------------
-------------------------------------*/

h3 {
  @include type-20-medium;
  color: $color-type;
  padding-bottom: 5px;
  }

/*Typography-p-------------------------
-------------------------------------*/

p {
  @include type-19-regular;
  color: $color-type;
  @include kerning;
  padding-bottom: 40px;
  }

p.about-p {
  padding-bottom: 20px;
  color: #ffffff;
  }

p.caption {
  @include type-14-regular;
  color: $color-type-muted;
  padding: 10px 20px 20px 20px;
  }

@media screen and (min-width: 620px) {
  p.caption {
    padding: 20px 20px 20px 20px;
    }
}

/*Typography-li------------------------
-------------------------------------*/

ul {
  list-style-position: outside;
  padding-left: 20px;
  }

ul.about-unordered-list {
  padding-left: 0px;
  }

ul.type-unordered-list {
  padding-left: 0px;
  padding-bottom: 40px;
  }

li {
  @include type-19-regular;
  color: $color-type;
  @include kerning;
  list-style-type: circle;
  }

li.about-list {
  @include type-18-regular;
  list-style-type: none;
  padding-bottom: 3px;
  }

li.about-list-muted {
  @include type-18-regular;
  color: $color-type-muted;
  list-style-type: none;
  padding-bottom: 13px;
  }

li.type-list {
  @include type-18-regular;
  color: $color-type;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 3px;
  }

li.type-list-muted {
  @include type-18-regular;
  color: $color-type-muted;
  list-style-type: none;
  padding-bottom: 3px;
  }

/*Links--------------------------------
-------------------------------------*/

a {
  color: inherit;
  }


/*Images-------------------------------
-------------------------------------*/

img {
  width: 100%;
  height: auto;
  }

.image-column-1000 {
  text-align:center;
  padding-bottom: 30px;
  }

.image-column-1000 img {
  max-width: 1000px;
  }

/*Video--------------------------------
-------------------------------------*/

video {
  width: 100%;
  height: auto;
  }



@media screen and (min-width: 980px) {

  .video-title {
    width: 100%;
    height: 100vh;
    @include flex;
    @include flex-direction-column;
    @include flex-justify-center;
    @include flex-align-center;
    }

  .video-title video {
    width: 90%;
    height: auto;
    max-width: 2000px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
    }

  }








.video-mobile {
  text-align:center;
  margin-top: 20px;
  margin-bottom: 40px;
  }

.video-mobile video {
  width: 60%;
  height: auto;
  // border: 1px solid $color-divider;
  // border-radius: 6px;
  }

@media screen and (min-width: 620px) {
  .video-mobile {
    margin-top: 95px;
    margin-bottom: 90px;
    }
  .video-mobile video {
    max-width: 400px;
    border: 0px;
    // box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
    }
}

.video-mobile-landscape {
  text-align:center;
  margin-top: 10px;
  margin-bottom: 20px;
  }

.video-mobile-landscape video {
  // border-top: 1px solid $color-divider;
  // border-bottom: 1px solid $color-divider;
  }

@media screen and (min-width: 620px) {
  .video-mobile-landscape {
    text-align:center;
    margin-top: 90px;
    margin-bottom: 95px;
    }
  .video-mobile-landscape video {
    width: 80%;
    height: auto;
    max-width: 900px;
    // box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
    // border-radius: 6px;
    // background-color: #F8F8F8;
    }
}

.video-tablet {
  text-align:center;
  margin-top: 10px;
  margin-bottom: 20px;
  }

.video-tablet video {
  // border-top: 1px solid $color-divider;
  // border-bottom: 1px solid $color-divider;
  }

@media screen and (min-width: 620px) {
  .video-tablet {
    text-align:center;
    margin-top: 90px;
    margin-bottom: 95px;
    }
  .video-tablet video {
    width: 80%;
    height: auto;
    max-width: 900px;
    // box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
    // border-radius: 6px;
    // background-color: #F8F8F8;
    }
}

.video-desktop {
  text-align:center;
  margin-top: 10px;
  margin-bottom: 20px;
  }

.video-desktop video {
  // border-top: 1px solid $color-divider;
  // border-bottom: 1px solid $color-divider;
  }

@media screen and (min-width: 620px) {
  .video-desktop {
    text-align:center;
    margin-top: 90px;
    margin-bottom: 95px;
    }
  .video-desktop video {
    width: 95%;
    height: auto;
    max-width: 1200px;
    // border-top: 0px solid $color-divider;
    // border-bottom: 0px solid $color-divider;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
    // border-radius: 6px;
    // background-color: #F8F8F8;
    }
  }

.video-embed {
  text-align: center;
  }

@media screen and (min-width: 620px) {
  .video-embed {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0px 4%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Previews-----------------------------
-------------------------------------*/

.preview-container {
  background-color: $color-background;
  }

.preview-tag {
  @include standard-bold;
  padding: 0px 16px;
  }

.preview-tag a  {
  text-decoration: none;
  }

.preview-title {
  @include standard;
  color: $color-type-muted;
  padding: 0px 16px;
  }

.preview-title a {
  text-decoration: none;
  }

@media screen and (min-width: 680px) {
  .preview-tag,
  .preview-title {
    padding: 0px 0px;
  }
  }

/*Footer-------------------------------
-------------------------------------*/

.footer-container {
  background-color: $color-background;
  }

.text-list-group {
  padding-bottom: 30px;
  }

.text-list-section-title {
  @include standard-bold;
  padding-bottom: 6px;
  }

.list-title {
  @include standard;
  color: $color-type-muted;
  padding-bottom: 3px;
  }

.footer a {
  text-decoration: none;
  @include transition;
  }

.footer a:hover {
  text-decoration: underline;
  }

.footer i {
  padding-right: 5px;
  }

/*Highlights---------------------------
-------------------------------------*/

::selection {
  background-color: $color-type-highlight;
  }

::-moz-selection {
  background-color: $color-type-highlight;
  }
