
@import "abstracts/variables";

/*
Resets-------------------------------
Reveal Effect------------------------
Typography-H1------------------------
Typography-H2------------------------
Typography-H3------------------------
Typography-p-------------------------
Typography-li------------------------
Links--------------------------------
Buttons------------------------------
Images-------------------------------
Nav----------------------------------
Home---------------------------------
Work---------------------------------
Locked-Panel-------------------------
Footer-------------------------------
*/

/*Resets-------------------------------
-------------------------------------*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    }

/*Reveal Effect----------------------*/

.revealblock {
  visibility: hidden;
  }

// .grid-item img{
//   opacity: 1;
//   -webkit-transition: opacity 500ms;
//   -moz-transition: opacity 500ms;
//   -ms-transition: opacity 500ms;
//   transition: opacity 500ms;
//   }

/*Typography-H1------------------------
-------------------------------------*/

h1 {
  @include type-42-regular;
  @include kerning;
  letter-spacing: -0.015em;
  color: $color-type;
  @include font-smoothing;
  padding-bottom: 30px;
  }








.home-text {
  padding: 100px 20px 0px 20px;
  max-width: 1442px;
  margin: 0 auto;
  }

h1.home {
  font-family: 'GTAmericaCompressedBold', sans-serif;
  font-size: 16vw;
  line-height: 0.8;
  @include font-smoothing;
  text-transform: uppercase;
  padding-bottom: 0px;
  max-width: 70%;
  }

@media screen and (min-width: 600px) {
  h1.home {
    font-size: 14vw;
    max-width: 60%;
    }
  .home-text {
    padding: 140px 20px 40px 20px;
    }
}

@media screen and (min-width: 840px) {
  h1.home {
    font-size: 100px;
    max-width: 400px;
    }
  .home-text {
    padding: 170px 100px 80px 100px;
    }
}



@media screen and (min-width: 1040px) {
  h1.home {
    font-size: 120px;
    max-width: 700px;
    }
  .home-text {
    padding: 200px 100px 120px 100px;
    }
}




















span.home-light {
  color: $color-type-caption;
  }





h1.centered {
  text-align: center;
  padding: 100px 0px 75px 0px;
  }

h1.work {

  }

h1.about {

  }

h1.contact {

  }

/*Typography-H2------------------------
-------------------------------------*/

h2 {
  @include type-28-regular;
  @include kerning;
  color: $color-type;
  @include font-smoothing;
  padding-bottom: 6px;
  }

h2.photography {
  @include type-12-bold;
  text-align: center;
  padding: 100px 0px 50px 0px;
  }

h2.work {

  }

h2.about {
  @include type-24-medium;
  padding-top: 60px;
  margin-bottom: 6px;
  }

h2.contact {
  @include type-24-medium;
  padding-top: 60px;
  margin-bottom: 6px;
  }

/*Typography-H3------------------------
-------------------------------------*/

h3 {
  @include type-20-medium;
  color: $color-type;
  padding-bottom: 5px;
  }

h3.home {

  }

h3.work {

  }

h3.about {

  }

h3.contact {

  }

/*Typography-p-------------------------
-------------------------------------*/

p {
  @include type-19-regular;
  color: $color-type;
  @include kerning;
  padding-bottom: 40px;
  }

p.home {
  @include type-16-regular;
  color: $color-type-inverted;
  padding-bottom: 3px;
  }

p.work-p {
  @include type-16-regular;
  color: $color-type-caption;
  @include kerning;
  padding-bottom: 0px;
  }

p.about-p {
  padding-bottom: 20px;
  }

p.caption {
  @include type-14-regular;
  padding: 20px;
  }


/*Typography-li------------------------
-------------------------------------*/

ul {
  list-style-position: outside;
  padding-left: 20px;
  }

ul.about-unordered-list {
  padding-left: 0px;
  }

ul.type-unordered-list {
  padding-left: 0px;
  padding-bottom: 40px;
  }

li {
  @include type-19-regular;
  color: $color-type;
  @include kerning;
  list-style-type: circle;
  }

li.about-list {
  @include type-18-regular;
  color: $color-type;
  list-style-type: none;
  padding-bottom: 3px;
  }

li.about-list-muted {
  @include type-18-regular;
  list-style-type: none;
  color: $color-type-caption;
  padding-bottom: 13px;
  }

li.type-list {
  @include type-18-regular;
  color: $color-type;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 3px;
  }

li.type-list-muted {
  @include type-18-regular;
  list-style-type: none;
  padding-bottom: 3px;
  color: $color-type-caption;
  padding-bottom: 3px;
  }

/*Links--------------------------------
-------------------------------------*/

  a {
    color: inherit;
    }

/*Buttons------------------------------
-------------------------------------*/

a.btn {
  @include type-16-medium;
  @include transition;
  display: inline-block;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 4px;
  border: 1px solid $color-brand;
  color: $color-brand;
  }

a.btn:hover {
  background-color: $color-brand;
  border: 1px solid $color-brand;
  color: $color-type-inverted;
  }

/*Images-------------------------------
-------------------------------------*/

img {
  width: 100%;
  height: auto;
  }

.image-column-1000 {
  text-align:center;
  padding-bottom: 30px;
  }

.image-column-1000 img {
  max-width: 1000px;
  }

/*Video--------------------------------
-------------------------------------*/

video {
  width: 100%;
  height: auto;
  }

.video-column-400-tall {
  text-align:center;
  padding: 45px 10px 10px 10px;
  margin-top: 40px;
  margin-bottom: 80px;
  }

.video-column-400-tall video {
  max-width: 400px;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
  border-radius: 6px;
  background-color: #F8F8F8;
  }

.video-column-600 {
  text-align:center;
  padding: 45px 10px 10px 10px;
  margin-top: 40px;
  margin-bottom: 80px;
  }

.video-column-600 video {
  max-width: 600px;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
  border-radius: 6px;
  background-color: #F8F8F8;
  }

.video-column-800 {
  text-align:center;
  padding-bottom: 30px;
  }

.video-column-800 video {
  max-width: 800px;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
  border-radius: 6px;
  background-color: #F8F8F8;
  }

.video-column-1000 {
  text-align:center;
  padding: 45px 10px 10px 10px;
  margin-top: 40px;
  margin-bottom: 80px;
  }

.video-column-1000 video {
  max-width: 1000px;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.35);
  border-radius: 6px;
  background-color: #F8F8F8;
  }

@media screen and (min-width: 840px) {
  .collection {
    padding-top: 140px;
    }
}


/*Nav----------------------------------
-------------------------------------*/

a.nav-left {
  align-items: center;
  border-radius: 500px;
  top: 20px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  position: fixed;
  left: 20px;
  width: fit-content;
  @include type-14-medium;
  color: $color-type;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  padding-bottom:2px;
  z-index:999;
  }

a.nav-right {
  align-items: center;
  border-radius: 500px;
  top: 20px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  position: fixed;
  right: 20px;
  width: fit-content;
  @include type-14-medium;
  color: $color-type;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  padding-bottom:2px;
  z-index:999;
  }

a.nav-right-dark {
  align-items: center;
  border-radius: 500px;
  top: 20px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 80px;
  position: fixed;
  right: 20px;
  width: fit-content;
  @include type-14-medium;
  color: $color-type-inverted;
  text-decoration: none;
  background-color: $color-brand;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  padding-bottom:2px;
  z-index:999;
  }

/*Work---------------------------------
-------------------------------------*/

.preview-section-title {
  @include type-24-medium;
  color: $color-type;
  margin-bottom: 20px;
  }

.preview-img {
  margin-bottom: 10px;
  }

.preview-video {
  margin-bottom: 10px;
  }

.preview-tag {
  @include type-12-bold;
  color: $color-type;
  margin-bottom: 5px;
  }

.preview-title {
  @include type-24-regular;
  color: $color-type;
  margin-bottom: 5px;
  }

.preview-title a {
  text-decoration: none;
  color: $color-type;
  }

.preview-copy {
  @include type-16-regular;
  color: $color-type;
  margin-bottom: 5px;
  }

.preview-buttons {
  margin-top: 15px;
  }

/*Lock Panel---------------------------
-------------------------------------*/

.locked-panel {
  max-width: 840px;
  margin: 0px auto;
  padding: 0px 40px;
  margin-bottom: 40px;
  }

.locked-panel-message {
  border: 1px solid #A8A8A8;
  border-radius: 4px;
  padding: 40px;
  }

/*Footer-------------------------------
-------------------------------------*/

.text-list-group {
  padding-bottom: 30px;
  }

.text-list-section-title {
  @include type-14-medium;
  padding-bottom: 6px;
  }

.list-title {
  @include type-14-regular;
  padding-bottom: 3px;
  }

.footer a {
  text-decoration: none;
  color: $color-type;
  @include transition;
  }

.footer a:hover {
  text-decoration: underline;
  }

.footer i {
  padding-right: 5px;
  }

/*Highlights---------------------------
-------------------------------------*/

::selection {
  background-color: $color-type-highlight;
  }

::-moz-selection {
  background-color: $color-type-highlight;
  }
