@font-face {
font-family: 'GTAmericaRegular';
src: url('../fonts/GTAmerica/GTAmerica-Regular.eot'), /* IE9 Compat Modes */
     url('../fonts/GTAmerica/GTAmerica-Regular.woff2') format('woff2'), /* Super Modern Browsers */
     url('../fonts/GTAmerica/GTAmerica-Regular.woff') format('woff'), /* Pretty Modern Browsers */
     url('../fonts/GTAmerica/GTAmerica-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../fonts/GTAmerica/GTAmerica-Regular.svg') format('svg'); /* Legacy iOS */
     }

@font-face {
font-family: 'GTAmericaThin';
src: url('../fonts/GTAmerica/GTAmerica-Thin.eot'), /* IE9 Compat Modes */
    url('../fonts/GTAmerica/GTAmerica-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Thin.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GTAmerica/GTAmerica-Thin.svg') format('svg'); /* Legacy iOS */
    }

@font-face {
font-family: 'GTAmericaBold';
src: url('../fonts/GTAmerica/GTAmerica-Bold.eot'), /* IE9 Compat Modes */
    url('../fonts/GTAmerica/GTAmerica-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GTAmerica/GTAmerica-Bold.svg') format('svg'); /* Legacy iOS */
    }

html {
  font-size: 100%;
  }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  }

* { box-sizing: border-box; }

body {
  font-family: "GTAmericaRegular",sans-serif;
  font-style: normal;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "GTAmericaRegular",sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #fff;
  font-weight:normal;
  padding-bottom: 20px;
}

.home h1 {
  font-family: "GTAmericaRegular",sans-serif;
  font-style: normal;
  font-size: 1rem;
  padding-bottom:0px;
  color: #fff;
  text-align: center;
  padding-bottom: 0px;
  line-height: 1.25rem;
}

.email {
  font-family: "GTAmericaRegular",sans-serif;
  font-style: normal;
  font-size: 1rem;
  padding-bottom:0px;
  color: #fff;
  text-align: center;
}

.email a {
  color: #fff;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1000px) {

  h1 {
    font-family: "GTAmericaRegular",sans-serif;
    font-style: normal;
    font-size: 3rem;
    color: #fff;
    font-weight:normal;
    padding-bottom: 20px;
  }

}
