/*Colors-------------------------------
-------------------------------------*/

$color-type: #303030;
$color-type-inverted: #FFFFFF;
$color-background: #FFFFFF;
$color-brand: #008489;
$color-divider: #F2F2F2;

/*Font Files---------------------------
-------------------------------------*/

@font-face {
font-family: 'GTAmericaRegular';
src: url('../fonts/GTAmerica/GTAmerica-Regular.eot'), /* IE9 Compat Modes */
     url('../fonts/GTAmerica/GTAmerica-Regular.woff2') format('woff2'), /* Super Modern Browsers */
     url('../fonts/GTAmerica/GTAmerica-Regular.woff') format('woff'), /* Pretty Modern Browsers */
     url('../fonts/GTAmerica/GTAmerica-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../fonts/GTAmerica/GTAmerica-Regular.svg') format('svg'); /* Legacy iOS */
     }

@font-face {
font-family: 'GTAmericaMedium';
src: url('../fonts/GTAmerica/GTAmerica-Medium.eot'), /* IE9 Compat Modes */
    url('../fonts/GTAmerica/GTAmerica-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GTAmerica/GTAmerica-Medium.svg') format('svg'); /* Legacy iOS */
    }

@font-face {
font-family: 'GTAmericaBold';
src: url('../fonts/GTAmerica/GTAmerica-Bold.eot'), /* IE9 Compat Modes */
    url('../fonts/GTAmerica/GTAmerica-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GTAmerica/GTAmerica-Bold.svg') format('svg'); /* Legacy iOS */
    }

 /*Typography---------------------------
 -------------------------------------*/

// $GTAmerica : 'GTEesti', sans-serif;

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  }

/*Flexbox------------------------------
-------------------------------------*/

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    }

@mixin flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }

@mixin flex-no-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    }

@mixin flex-direction-column {
    -ms-flex-direction: column;
    flex-direction: column;
    }

@mixin flex-justify-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack:justify;
    justify-content: space-between;
    }

@mixin flex-justify-flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    }

@mixin flex-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }

@mixin flex-justify-flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    }

 @mixin flex-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }

@mixin flex-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
   }

@mixin flex-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
   }

@mixin transition {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    }
