/*Colors-------------------------------
-------------------------------------*/

$color-type: #f6f3ef;
$color-type-muted: #757575; /*#757575 b3b3b3*/
$color-type-highlight: #FCF113;/*This is text highlight*/
$color-background: #000000;

/*Font Files---------------------------
-------------------------------------*/

@font-face {
font-family: 'GTAmericaRegular';
src: url('../fonts/GTAmerica/GTAmerica-Regular.eot'), /* IE9 Compat Modes */
     url('../fonts/GTAmerica/GTAmerica-Regular.woff2') format('woff2'), /* Super Modern Browsers */
     url('../fonts/GTAmerica/GTAmerica-Regular.woff') format('woff'), /* Pretty Modern Browsers */
     url('../fonts/GTAmerica/GTAmerica-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../fonts/GTAmerica/GTAmerica-Regular.svg') format('svg'); /* Legacy iOS */
     }

@font-face {
font-family: 'GTAmericaMedium';
src: url('../fonts/GTAmerica/GTAmerica-Medium.eot'), /* IE9 Compat Modes */
    url('../fonts/GTAmerica/GTAmerica-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GTAmerica/GTAmerica-Medium.svg') format('svg'); /* Legacy iOS */
    }

@font-face {
font-family: 'GTAmericaBold';
src: url('../fonts/GTAmerica/GTAmerica-Bold.eot'), /* IE9 Compat Modes */
    url('../fonts/GTAmerica/GTAmerica-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GTAmerica/GTAmerica-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GTAmerica/GTAmerica-Bold.svg') format('svg'); /* Legacy iOS */
    }

/*Resets-------------------------------
-------------------------------------*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  }

/*Typography---------------------------
-------------------------------------*/

html {
  font-size: 100%;
  }

@media screen and (min-width: 1700px) {
  html {
    font-size: 120%;
    }
}

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  }

@mixin kerning {
  -moz-font-feature-settings:    "kern" 1;
  -ms-font-feature-settings:     "kern" 1;
  -o-font-feature-settings:      "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings:         "kern" 1;
  font-kerning: normal;
  }

// Standard Type

@mixin standard-medium {
  font-family: 'GTAmericaMedium', sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  @include font-smoothing;
  }

@mixin standard {
  font-family: 'GTAmericaRegular', sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  @include font-smoothing;
  }

// H1

@mixin type-55-medium {
  font-family: 'GTAmericaMedium', sans-serif;
  font-size: 3.4375rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
  @include kerning;
  @include font-smoothing;
  }

@mixin type-42-regular {
  font-family: 'GTAmericaRegular', sans-serif;
  font-size: 2.625rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
  @include kerning;
  @include font-smoothing;
  }

// H2

@mixin type-28 {
  font-family: 'GTAmericaMedium', sans-serif;
  font-size: 1.75rem;
  line-height: 1.1;
  @include kerning;
  @include font-smoothing;
  }

// H2 About

@mixin type-24-medium {
  font-family: 'GTAmericaMedium', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  @include font-smoothing;
  }

// H3

@mixin type-20-medium {
  font-family: 'GTAmericaMedium', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  @include font-smoothing;
  }

// Paragraphs

@mixin type-19-regular {
  font-family: 'GTAmericaRegular', sans-serif;
  font-size: 1.1875rem;
  line-height: 1.5;
  @include font-smoothing;
  }

// Lists

@mixin type-18-regular {
  font-family: 'GTAmericaRegular', sans-serif;
  font-size: 1.125rem;
  line-height: 1.35;
  @include font-smoothing;
  }

// Captions

@mixin type-14-regular {
  font-family: 'GTAmericaRegular', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  @include font-smoothing;
  }

/*Flexbox------------------------------
-------------------------------------*/

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    }

@mixin flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }

@mixin flex-no-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    }

@mixin flex-direction-row {
    -ms-flex-direction: row;
    flex-direction: row;
    }

@mixin flex-direction-column {
    -ms-flex-direction: column;
    flex-direction: column;
    }

@mixin flex-justify-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack:justify;
    justify-content: space-between;
    }

@mixin flex-justify-flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    }

@mixin flex-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }

@mixin flex-justify-flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    }

 @mixin flex-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }

@mixin flex-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
   }

@mixin flex-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
   }

@mixin transition {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    }
