/*Creating tokens overrides and reset behavior*/


/*Colors-------------------------------
-------------------------------------*/

$color-type: #f6f3ef;
$color-type-muted: #757575;
$color-type-highlight: #FCF113;
$color-type-light: #423f3f;
$color-type-light-muted: #737373;
$color-background: #000000;

$color-red: #ff0000;

/*Font Files---------------------------
-------------------------------------*/



/*Resets-------------------------------
-------------------------------------*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  }

* { box-sizing: border-box; }

a {
  color: inherit;
  }

/*Highlights---------------------------
-------------------------------------*/

::selection {
  background-color: $color-type-highlight;
  }

::-moz-selection {
  background-color: $color-type-highlight;
  }

/*Reveal effect------------------------
-------------------------------------*/

.revealblock {
  visibility: hidden;
  }

/*Typography---------------------------
-------------------------------------*/

html {
  font-size: 100%;
  }

// @media screen and (min-width: 1600px) {
//   html {
//     font-size: 120%;
//     }
// }
