<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <div class="page">
    {{ content }}
    <section style="padding-top:0%;"><div class="type-column"><h3>View on Medium</h3><a href="https://medium.com/@benludwig/why-design-systems-fail-in-product-design-f002744f26fc" target="_blank"><div id="medium-widget"></div></a></div></section>
    {% include footer.html %}
    </div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@benludwig","postsPerLine":1,"limit":1,"picture":"none","fields":["description","author","claps"],"ratio":"original"}})</script>
  <script type="text/javascript" src='{{ site.baseurl }}/js/flickity.pkgd.min.js'></script>
</body>
</html>
