<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
      <div class="contact-container">

        <div class="contact-left">
        </div>

        <div class="contact-right">
          <div class="contact-right-content">
            <h1 class="contact">Lorem Ipsum Dolor</h1>
              <div class="contact-lists">
                <div class="contact-list-1">
                  <ul class="about-unordered-list">
                  <li class="about-list">Email</li>
                  <li class="about-list-muted">hello@benludwig.com</li>
                </div>
                <div class="contact-list-1">
                  </ul>
                  <ul class="about-unordered-list">
                  <li class="about-list">Email</li>
                  <li class="about-list-muted">hello@benludwig.com</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
















        <!-- <div class="contact-content">

          <input readonly type="text" value="hello@benludwig.com" id="myInput">

          <div class="tooltip">
          <button onclick="myFunction()" onmouseout="outFunc()">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            Copy
            </button>
          </div>

          <script>
          function myFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");

            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied";
          }

          function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy to clipboard";
          }
          </script>

        </div> -->
      </div>
    {% include footer.html %}
  <!-- <script type="text/javascript" src='{{ site.baseurl }}/js/scrollreveal.min.js'></script>
  <script>
  window.sr = ScrollReveal();
  sr.reveal('.revealblock', { duration: 1000, distance: '2px', scale: 1, viewFactor: 0.05 });
  </script> -->
  </body>
</html>
