<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <!-- Case Studies -->
    {% assign blcs = site.case-studies | sort: 'order' %}
    {% for item in blcs %}
    {{ item.title }}
    {% endfor %}
    <!-- Design Archive -->
    {% assign blda = site.design-archive | sort: 'order' %}
    {% for item in blda %}
    {{ item.title }}
    {% endfor %}
    <!-- Articles -->
    {% assign blart = site.articles | sort: 'order' %}
    {% for item in blart %}
    {{ item.title }}
    {% endfor %}
    <!-- Side Projects -->
    {% assign blsp = site.side-projects | sort: 'order' %}
    {% for item in blsp %}
    {{ item.title }}
    {% endfor %}
    <!-- Just for Fun -->
    {% assign bljff = site.just-for-fun | sort: 'order' %}
    {% for item in bljff %}
    {{ item.title }}
    {% endfor %}













<!-- Save
    {% assign sorted = site.design-archive | sort: 'order' %}
    {% for item in sorted %}
    <li>{{ item.title }}</li>
    {% endfor %} -->


    <!-- <h3>Getting Started</h3>
    <ul>
        {% for blda in site.design-archive %}

            <li><a href="{{ blda.url }}">{{ blda.title }}</a></li>
        {% endfor %}
    </ul> -->








<!-- {% assign blda = site.design-archive | sort: "order" %}
{{ blda.title }} -->





    <!-- {% assign mydocs = site.docs | group_by: 'category' %}
    {% for cat in mydocs %}
    <h2>{{ cat.name | capitalize }}</h2>
        <ul>
          {% assign items = cat.items | sort: 'order' %}
          {% for item in items %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
    {% endfor %} -->





  </body>
</html>
