<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    <div class="page">

      <div class="spacer"></div>

      <div class="site-title">
        <div>Ben Ludwig</div><div>Interaction design</div>
      </div>

      <div class="spacer"></div>



      <div class="media">
        <div class="video">
          <video loop muted playsinline controls poster="https://res.cloudinary.com/benludwig/image/upload/c_crop,f_auto,g_center,h_741,q_auto:best,w_1482/v1587592195/device_nad9c1.png">
          <source src="https://res.cloudinary.com/benludwig/video/upload/q_auto:best/v1590528468/Wifi_page_jm4gad.mp4">
          <source src="https://res.cloudinary.com/benludwig/video/upload/q_auto:best/v1590528468/Wifi_page_jm4gad.webm" type="video/webm">
          Your browser does not support the video tag.</video>
        </div>
      </div>

    <div class="spacer"></div>

      <div class="time">Now</div>
      <div class="line"></div>
      <div class="title"><h1>Design at Google</h1></div>
      <div class="result"></div>

    <div class="spacer"></div>

      <div class="time">2020</div>
      <div class="line"></div>
      <div class="title"><h1>Shopping experience for the largest private telecom provider in the U.S.</h1></div>
      <div class="result">Online sales increased 21%, received Agency of the Year award from AdWeek</div>

    <div class="spacer"></div>

      <div class="time">2018</div>
      <div class="line"></div>
      <div class="title"><h1>Logistics software for a global audio-visual equipment supplier</h1></div>
      <div class="result">New regions added, part of the biggest merger in the industry</div>

    <div class="spacer"></div>

      <div class="time">2016</div>
      <div class="line"></div>
      <div class="title"><h1>Recommendation algorithm for an analytics product</h1></div>
      <div class="result">Won contracts with Fortune 500 clients</div>

    <div class="spacer"></div>

      <div class="time">2013</div>
      <div class="line"></div>
      <div class="title"><h1>Partnership with Google Maps to bring indoor maps to The Field Museum</h1></div>
      <div class="result">21% increase in attendance, one of the first institutions in the world with indoor maps</div>

    <div class="spacer"></div>

      <div class="time">2009</div>
      <div class="line"></div>
      <div class="title"><h1>Audio processing software for brands like Disney, Nike, Microsoft and NBC</h1></div>
      <div class="result">10+ million messages sent from fans, featured in The New York Times, received 2 Webby awards</div>

    <div class="spacer"></div>

    <div class="site-title">
      <div>design@benludwig.com</div>
    </div>

    <div class="spacer"></div>

    </div>
  </body>
</html>
