<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="home-container">
      <div class="home-content">
        <h1 class="home">I’m an Associate Creative Director</h1>
        <h2 class="home">I design digital products and design systems at FCB Chicago.</h2>
        <div class="home-buttons">
          <div class="home-button"><a class="btn-home-alt" href="/work">View Case Studies</a></div>
          <div class="home-button"><a class="btn-home" href="/work/#additional-design-work">See Additional Design Work</a></div>
        </div>
        <div class="home-copy"><p class="home">You can also check out <a class="link-home" href="/work/#articles">articles</a>, <a class="link-home" href="/work/#side-projects">side projects</a> and something <a class="link-home" href="/work/#just-for-fun">just for fun.</a></p></div>
      </div>
      <div class="home-caption">📷 <a class="link-caption-home" href="/">In-house design at The Field Museum</a></div>
    </div>
    {% include footer.html %}
  </body>
</html>
