<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include work-nav-first.html %}
  <div class="work">
    {{ content }}
  </div>
<script>
  var grid = document.querySelector('.grid');
  var msnry = new Masonry( grid, {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
  imagesLoaded( grid ).on( 'progress', function() {
    msnry.layout();
  });
</script>
{% include footer.html %}
<script type="text/javascript" src='{{ site.baseurl }}/js/scrollreveal.min.js'></script>
<script>
// JavaScript
window.sr = ScrollReveal();
sr.reveal('.revealblock', { duration: 1000, distance: '2px', scale: 1 });
</script>
</body>
</html>
